420-C50 (Web Programming V)/Labs/pdumaresq_C50_L06/PartB/checking.dtd

<!ELEMENT checking (check)*>

<!ELEMENT check (amount, to, date, memo)>
<!ATTLIST check id CDATA #IMPLIED>
<!ATTLIST check category (books | entertainment | supplies | utilities | other) #IMPLIED>

<!ELEMENT amount (#PCDATA)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT memo (#PCDATA)>


