420-C50 (Web Programming V)/Assignments/pdumaresq_C50_A02/PartC/client.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://csdev.cegep-heritage.qc.ca/client" 
	targetNamespace="http://csdev.cegep-heritage.qc.ca/client"
	elementFormDefault="qualified">
	
	<xs:simpleType name="provinceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AB"/>
			<xs:enumeration value="BC"/>
			<xs:enumeration value="BC"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="NB"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="NS"/>
			<xs:enumeration value="NS"/>
			<xs:enumeration value="ON"/>
			<xs:enumeration value="PE"/>
			<xs:enumeration value="QC"/>
			<xs:enumeration value="SK"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="postalCodeType">
		<xs:restriction base="xs:token">
			<xs:pattern value="[A-Z]\d[A-Z]\d[A-Z]\d"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="percentType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="clientType">
		<xs:sequence>
			<xs:element name="clientName" type="xs:string" />
			<xs:element name="contactLastName" type="xs:string" />
			<xs:element name="contactFirstName" type="xs:string" />
			<xs:element name="clientStreet" type="xs:string" />
			<xs:element name="clientCity" type="xs:string" />
			<xs:element name="clientProvince" type="provinceType"/>
			<xs:element name="clientPostalCode" type="postalCodeType"/>
			<xs:element name="clientDiscount" type="percentType"/>
		</xs:sequence>
		<xs:attribute name="clientId" type="xs:integer"/>
	</xs:complexType>	
	
	<xs:element name="clients">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="client" type="clientType" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
