420-C50 (Web Programming V)/Assignments/pdumaresq_C50_A02/PartC/equipment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://csdev.cegep-heritage.qc.ca/equipment" 
	targetNamespace="http://csdev.cegep-heritage.qc.ca/equipment"
	elementFormDefault="qualified">

	<xs:simpleType name="equipmentTypeValue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PC"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="SC"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:group name="equipmentGroup">
		<xs:sequence>
			<xs:element name="equipmentName" type="xs:string"/>
			<xs:element name="inserviceDate" type="xs:date"/>
			<xs:element name="clientId" type="xs:integer"/>
			<xs:element name="equipmentType" type="equipmentTypeValue"/>
		</xs:sequence>
	</xs:group>
	
	<xs:complexType name="equipmentType">
		<xs:group ref="equipmentGroup" />
		<xs:attribute name="equipmentNumber" type="xs:positiveInteger" />
	</xs:complexType>
	
	
	
	<xs:element name="equipmentList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="equipment" type="equipmentType" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
