420-C50 (Web Programming V)/Notes/Slideshows (With Examples)/C50S16-IntroductiontoWebServices/WebServicesExamples/WebServices/WebServices/Service References/ServiceReferenceCities/Cities.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cegep-heritage.qc.ca/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cegep-heritage.qc.ca/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cegep-heritage.qc.ca/">
      <s:element name="GetCountries">
        <s:complexType />
      </s:element>
      <s:element name="GetCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountriesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_maxCount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitiesResult" type="tns:ArrayOfCityDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCityDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CityDetail" nillable="true" type="tns:CityDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CityDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="coord" type="tns:Coordinates" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Coordinates">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="lon" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCityDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCityDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCityDetailResult" type="tns:CityDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCityWeather">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_cityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCityWeatherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCityWeatherResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCitiesDistance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_cityId1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_cityId2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCitiesDistanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCitiesDistanceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCountriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCityDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetCityDetail" />
  </wsdl:message>
  <wsdl:message name="GetCityDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetCityDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetCityWeatherSoapIn">
    <wsdl:part name="parameters" element="tns:GetCityWeather" />
  </wsdl:message>
  <wsdl:message name="GetCityWeatherSoapOut">
    <wsdl:part name="parameters" element="tns:GetCityWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitiesDistanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetCitiesDistance" />
  </wsdl:message>
  <wsdl:message name="GetCitiesDistanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitiesDistanceResponse" />
  </wsdl:message>
  <wsdl:portType name="CitiesSoap">
    <wsdl:operation name="GetCountries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get list of countries (two letter code) for all the cities in the database </wsdl:documentation>
      <wsdl:input message="tns:GetCountriesSoapIn" />
      <wsdl:output message="tns:GetCountriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get list of cities and details for provided two letter country code (i.e. CA = Canada)</wsdl:documentation>
      <wsdl:input message="tns:GetCitiesSoapIn" />
      <wsdl:output message="tns:GetCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCityDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get details for city, given the city ID</wsdl:documentation>
      <wsdl:input message="tns:GetCityDetailSoapIn" />
      <wsdl:output message="tns:GetCityDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCityWeather">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get weather for requested city, must specify by cityId (see GetCities())</wsdl:documentation>
      <wsdl:input message="tns:GetCityWeatherSoapIn" />
      <wsdl:output message="tns:GetCityWeatherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCitiesDistance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get distance in Kms between two cities </wsdl:documentation>
      <wsdl:input message="tns:GetCitiesDistanceSoapIn" />
      <wsdl:output message="tns:GetCitiesDistanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CitiesSoap" type="tns:CitiesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://cegep-heritage.qc.ca/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://cegep-heritage.qc.ca/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityDetail">
      <soap:operation soapAction="http://cegep-heritage.qc.ca/GetCityDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityWeather">
      <soap:operation soapAction="http://cegep-heritage.qc.ca/GetCityWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesDistance">
      <soap:operation soapAction="http://cegep-heritage.qc.ca/GetCitiesDistance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CitiesSoap12" type="tns:CitiesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap12:operation soapAction="http://cegep-heritage.qc.ca/GetCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap12:operation soapAction="http://cegep-heritage.qc.ca/GetCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityDetail">
      <soap12:operation soapAction="http://cegep-heritage.qc.ca/GetCityDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityWeather">
      <soap12:operation soapAction="http://cegep-heritage.qc.ca/GetCityWeather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesDistance">
      <soap12:operation soapAction="http://cegep-heritage.qc.ca/GetCitiesDistance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cities">
    <wsdl:port name="CitiesSoap" binding="tns:CitiesSoap">
      <soap:address location="http://csdev.cegep-heritage.qc.ca/students/rchan/C50/SampleServices/Cities.asmx" />
    </wsdl:port>
    <wsdl:port name="CitiesSoap12" binding="tns:CitiesSoap12">
      <soap12:address location="http://csdev.cegep-heritage.qc.ca/students/rchan/C50/SampleServices/Cities.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>